<!-- HEADER -->
<%- include('partials/header.ejs') -%>

<!-- VANAF HIER EDITEN -->
<main class="content">
    <h1>Homepage</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio necessitatibus nulla dolore libero porro nam
        dicta
        excepturi atque in quae modi, exercitationem omnis dolorum, minus beatae rerum similique enim ullam.
        Quod sint commodi enim minus delectus eligendi praesentium dolores adipisci animi, rem illum aperiam soluta
        corrupti magni nam nihil illo suscipit non voluptatum laboriosam laborum natus ab. Modi, repellendus aut!
        Velit quidem fugiat ad accusamus molestiae iusto aut iste nisi tempora, a nihil vero itaque. Molestias
        officiis
        maxime sed id accusantium commodi eveniet, harum voluptatum natus reprehenderit deserunt repellat ratione?
    </p>
</main>

<!-- FOOTER -->
<%- include('partials/footer.ejs') -%>