<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Metamorphous&display=swap"
        rel="stylesheet">

    <!-- Bootstrap, Animate & CSS stylesheet-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />

    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>



    <title>Which Witcher Character Are You?</title>

</head>

<body id="lijf">

    <!-- BACKGROUND-->

    <div id="forest"> </div>
    <div id="cloud1" style="--i:1"> </div>
    <div id="cloud2" style="--i:2"></div>
    <div id="cloud3" style="--i:3"> </div>

    <div class="container">
        <div class="banner animate__animated animate__fadeInDownBig"></div>
    </div>
    </div>

    <div class=" container">

        <div class="row justify-content-center ">
            <div class="col-6">

                <h1 class="hone animate__animated animate__fadeIn animate__delay-2s animate__slow">The Witcher</h1>


                <div class="align-content-center"> <img src="images/logo.png"
                        class="logo animate__animated animate__fadeIn animate__delay-1s animate__slower" alt=""></div>


                <div
                    class="col-12 align-self-center button text-center animate__animated animate__fadeIn animate__delay-3s animate__slow">
                    <a href="quiz/0" class="quiz">
                        <div class="">
                            <p>Quiz</p>
                        </div>
                    </a>
                </div>

                <div
                    class="col-12 align-self-center button text-center animate__animated animate__fadeIn animate__delay-3s animate__slow">
                    <a href="monsters" class="monsters">
                        <p>Monster Manual</p>
                    </a>
                </div>

                <div
                    class="col-12 align-self-center button text-center animate__animated animate__fadeIn animate__delay-3s animate__slow">
                    <a href="about" class="about">
                        <p>About</p>
                    </a>
                </div>
            </div>

            </script>
            <script src="/js/app.js"></script>

</html>