<!-- HEADER -->
<%- include('partials/header.ejs') -%>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-9">
            <h1>Monster Library</h1>
            <p>All monsters unite here!</p>
        </div>
    </div>
</div>
<!-- FOOTER -->
<%- include('partials/footer.ejs') -%>