<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Metamorphous&display=swap"
        rel="stylesheet">

    <!-- Bootstrap, Animate & CSS stylesheet-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="/css/monster.css" />

    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>


    <title>Monster Manual</title>

</head>

<body id="lijf">

    <div id="forest"> </div>
    <div id="cloud1" style="--i:1"> </div>
    <div id="cloud2" style="--i:2"></div>
    <div id="cloud3" style="--i:3"> </div>

    <!-- NAVBAR-->
    <%- include('partials/header.ejs') -%>


    <div class="container animate__animated animate__fadeIn">
        <div class="row justify-content-center headline">
            <div class="col-10 px-0 paper">
                <div class=" paper2  px-3">
                    <h1>Sylvan</h1>
                    <img src="images/sylvan.png" class="portrait" alt="">

                    <p><span class="quote"> Sylvans are cruel, greedy and treacherous. Still, I prefer them to dh'oine.
                            – Yaevinn, legendary Scoia'tael commander </p></span>

                    <p> Sylvans and Yakshas, a kindred species, are extremely rare woodland creatures whose appearance
                        combines traits of goats and rotund men. These beings usually pose little danger, for they limit
                        their contact with humans to playing harmless (though often bothersome) tricks and eating crops
                        from their fields.</p>

                    <p>Susceptibility: Samum, Devil's Puffball, Relict oil, Igni</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center headline">
            <div class="col-10 px-0 paper">
                <div class=" paper2  px-3">
                    <h1>Kikimora</h1>
                    <img src="images/kikimora.png" class="portrait" alt="">
                    <p>All monsters unite here!</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, eius! Beatae repellendus
                        quibusdam
                        perferendis incidunt saepe. Incidunt, tenetur necessitatibus facilis iure veritatis quod
                        quibusdam,
                        atque perferendis quis hic nesciunt deserunt! Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Doloribus ipsum eius, sapiente voluptatum a necessitatibus quia, doloremque modi facere
                        consequatur
                        nam
                        sequi, magnam expedita enim animi architecto ratione ab! Impedit!</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center headline">
            <div class="col-10 px-0 paper">
                <div class=" paper2  px-3">
                    <h1>Dragon</h1>
                    <img src="images/dragon.png" class="portrait" alt="">
                    <p>All monsters unite here!</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, eius! Beatae repellendus
                        quibusdam
                        perferendis incidunt saepe. Incidunt, tenetur necessitatibus facilis iure veritatis quod
                        quibusdam,
                        atque perferendis quis hic nesciunt deserunt! Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Doloribus ipsum eius, sapiente voluptatum a necessitatibus quia, doloremque modi facere
                        consequatur
                        nam
                        sequi, magnam expedita enim animi architecto ratione ab! Impedit!</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center headline">
            <div class="col-10 px-0 paper">
                <div class=" paper2  px-3">
                    <h1>Djinn</h1>
                    <img src="images/djinn.png" class="portrait" alt="">
                    <p>All monsters unite here!</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, eius! Beatae repellendus
                        quibusdam
                        perferendis incidunt saepe. Incidunt, tenetur necessitatibus facilis iure veritatis quod
                        quibusdam,
                        atque perferendis quis hic nesciunt deserunt! Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Doloribus ipsum eius, sapiente voluptatum a necessitatibus quia, doloremque modi facere
                        consequatur
                        nam
                        sequi, magnam expedita enim animi architecto ratione ab! Impedit!</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center headline">
            <div class="col-10 px-0 paper">
                <div class=" paper2  px-3">
                    <h1>Doppler</h1>
                    <img src="images/doppler.png" class="portrait" alt="">
                    <p>All monsters unite here!</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, eius! Beatae repellendus
                        quibusdam
                        perferendis incidunt saepe. Incidunt, tenetur necessitatibus facilis iure veritatis quod
                        quibusdam,
                        atque perferendis quis hic nesciunt deserunt! Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Doloribus ipsum eius, sapiente voluptatum a necessitatibus quia, doloremque modi facere
                        consequatur
                        nam
                        sequi, magnam expedita enim animi architecto ratione ab! Impedit!</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center headline">
            <div class="col-10 px-0 paper">
                <div class=" paper2  px-3">
                    <h1>Hirikka</h1>
                    <img src="images/hirikka.png" class="portrait" alt="">
                    <p>All monsters unite here!</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, eius! Beatae repellendus
                        quibusdam
                        perferendis incidunt saepe. Incidunt, tenetur necessitatibus facilis iure veritatis quod
                        quibusdam,
                        atque perferendis quis hic nesciunt deserunt! Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Doloribus ipsum eius, sapiente voluptatum a necessitatibus quia, doloremque modi facere
                        consequatur
                        nam
                        sequi, magnam expedita enim animi architecto ratione ab! Impedit!</p>
                </div>
            </div>
        </div>



        <div class="row justify-content-center headline">
            <div class="col-10 px-0 paper">
                <div class=" paper2  px-3">
                    <h1>Striga</h1>
                    <img src="images/striga.png" class="portrait" alt="">
                    <p>All monsters unite here!</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, eius! Beatae repellendus
                        quibusdam
                        perferendis incidunt saepe. Incidunt, tenetur necessitatibus facilis iure veritatis quod
                        quibusdam,
                        atque perferendis quis hic nesciunt deserunt! Lorem ipsum dolor sit amet consectetur adipisicing
                        elit.
                        Eveniet atque ex quasi voluptates excepturi repellat, in reprehenderit ducimus aperiam dicta
                        sunt
                        odit
                        illum, delectus est voluptatum quibusdam, magni impedit architecto.</p>
                </div>
            </div>
        </div>
    </div>

    <!--Scroll Reveal Script-->
    <script>
        ScrollReveal().reveal('.headline', {
            delay: 400
        });
    </script>
</body>

</html>