<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Metamorphous&display=swap"
        rel="stylesheet">

    <!-- Bootstrap, Animate & CSS stylesheet-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="/css/monster.css" />

    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>


    <title>Monster Manual</title>

</head>

<body id="lijf">

    <div id="forest"> </div>
    <div id="cloud1" style="--i:1"> </div>
    <div id="cloud2" style="--i:2"></div>
    <div id="cloud3" style="--i:3"> </div>

    <!-- NAVBAR-->
    <%- include('partials/header.ejs') -%>


    <div class="container animate__animated animate__fadeIn">
        <div class="row justify-content-center headline">
            <div class="col-10 px-0 paper">
                <div class="paper2 px-3">
                    <h1>Sylvan</h1>
                    <img src="images/sylvan.jpg" class="portrait" alt="">

                    <p><span class="quote"> Sylvans are cruel, greedy and treacherous. Still, I prefer them to
                            dh'oine.
                            – Yaevinn, legendary Scoia'tael commander </p></span>

                    <p> Sylvans and Yakshas, a kindred species, are extremely rare woodland creatures whose
                        appearance
                        combines traits of goats and rotund men. These beings usually pose little danger, for
                        they
                        limit
                        their contact with humans to playing harmless (though often bothersome) tricks and
                        eating
                        crops
                        from their fields.</p>

                    <p>Susceptibility: Samum, Devil's Puffball, Relict oil, Igni</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center headline">
            <div class="col-10 px-0 paper">
                <div class=" paper2 px-3">
                    <h1>Kikimora</h1>
                    <img src="images/kikimore.jpg" class="portrait" alt="">

                    <p><span class="quote"> A more abominable beast is indeed hard to find. Not quite a
                            cockroach
                            nor a
                            spider, it makes ladies faint and gentlemen feel disgusted. The kikimore warrior
                            reeks
                            of
                            the swamp. For this reason, I insist that exhibit no. 88 be removed from the
                            university
                            assembly hall. And anticipating the question "what should be done with it
                            then?", I
                            answer:
                            throw it to the compost heap. </p></span>

                    <p>The Kikimore, or kikimora, is an insectoid monster species which lives underground,
                        as
                        well
                        as in
                        swamps. They were first introduced in the short story, "The Lesser Evil", which
                        opens
                        with
                        Geralt entering Blaviken with the carcass of a female kikimore in tow.</p>


                    <p>Susceptibility: Sensitive to silver and Insectoid Oil</p>
                </div>
            </div>
        </div>


        <div class="row justify-content-center headline">
            <div class="col-10 px-0 paper">
                <div class=" paper2  px-3">
                    <h1>Dragon</h1>
                    <img src="images/dragon.jpg" class="portrait" alt="">
                    <p><span class="quote"> It's got scales, wings, claws... A dragon's a dragon! No point
                            gabbin',
                            just
                            go kill it!
                            – Vagn, village elder of Fyresdal </p></span>

                    <p>Few truly know what a dragon looks like, for those who have seen one up-close rarely
                        have
                        a
                        chance to share their impressions. That is why people are forever mistaking other
                        monsters
                        for
                        dragons. This was the case in Fyresdal, where the so-called dragon wreaking havoc
                        turned
                        out
                        to
                        be a forktail.
                        Yet this mistaken attribution did not mean there was no reason to worry. The
                        forktail
                        harassing
                        Fyresdal was a particularly vile representative of its kind, one equipped with an
                        endless
                        store
                        of deadly venom. Fighting it without first drinking a regenerative potion or a
                        poison
                        antidote
                        would be tantamount to suicide.</p>


                    <p>Susceptibility: Golden Oriole, Grapeshot, Draconid oil, Aard</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center headline">
            <div class="col-10 px-0 paper">
                <div class=" paper2  px-3 box">
                    <h1>Djinn</h1>
                    <img src="images/djinn.jpg" class="portrait" alt="">
                    <p><span class="quote"> The pitcher emitted a puff of glowing red smoke. The smoke
                            pulsated,
                            then
                            gathered up into an irregular sphere floating in front of the poet's head...
                            –The First Longing, a Tale Fantastic in All Ways </p></span>

                    <p>Djinn, D'jinni or Djinniah is the name given to an elemental genie of Air. Much the
                        same
                        as
                        in
                        fairy tales, Djinns are powerful creatures that are capable of great feats. Once
                        captured,
                        they
                        are then bound to the captor and have to fulfill three wishes. Following their
                        completion,
                        they
                        are free once more.</p>


                    <p>Susceptibility: Dimeritium bomb, Elementa oil</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center headline">
            <div class="col-10 px-0 paper">
                <div class=" paper2  px-3 box">
                    <h1>Doppler</h1>
                    <img src="images/doppler.jpg" class="portrait" alt="">
                    <p><span class="quote"> Your package? Your brother picked it up. You know, you two're
                            damn
                            near
                            identical... Hey! Where you running off to?!
                            – Hanne Kluger, postmaster </p></span>

                    <p>Dopplers (also called shifters, mimics, doubles, imitators, or pavrats) are
                        shapeshifters
                        who
                        can
                        take the form of anyone or any beast they have encountered, provided it has a
                        similar
                        body
                        weight. They used to live in the plateau near modern-day Novigrad but moved to the
                        city
                        itself
                        after it proved to offer more possibilities of survival.</p>


                    <p>Susceptibility: Relict oil</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center headline">
            <div class="col-10 px-0 paper">
                <div class=" paper2  px-3 box">
                    <h1>Hirikka</h1>
                    <img src="images/hirikka.png" class="portrait" alt="">
                    <p><span class="quote"> Why is it that dragons have been promoted in your eyes to become
                            foremost
                            enemies of man? Why not other-a hundredfold more dangerous-creatures, that have
                            a
                            hundredfold more victims on their consciences than dragons? Why not hirikkas...
                            – Dorregaray, Sword of Destiny
                    </p></span>

                    <p>An increasingly rare creature, even more so than a dragon, hirikkas live in the
                        mountains.
                        Their bodies are covered in thick skin, colored light yellow or brown, and long fur
                        which
                        hangs
                        by sides and abdomen.
                        While young hirikkas tend to be about human height, adult indivduals
                        grow 4-5 cubits high and 7-8 cubits long. Their diet comprosises mostly of grass and
                        venison.
                        They hunt mice first, moving to larger game with age. Hirikkas also gain significant
                        amount
                        of
                        weight for a time, although they still can develop a the speed of a horse while
                        chasing
                        prey. If
                        any cows or sheep share a field with hirikka, they will slowly die off due to
                        poisonous
                        gass
                        in
                        hirikka's saliva and excrements.</p>


                    <p>Susceptibility: A Silver Sword</p>
                </div>
            </div>
        </div>



        <div class="row justify-content-center headline">
            <div class="col-10 px-0 paper">
                <div class=" paper2  px-3 box">
                    <h1>Striga</h1>
                    <img src="images/striga1.jpg" class="portrait" alt="">
                    <p><span class="quote"> Few want the spell lifted. People usually just want to be
                            protected.
                            If
                            the
                            monster has killed people, revenge may be another motive.
                    </p></span>

                    <p>A striga is a human woman transformed into a monster by a curse. She is filled
                        with hatred towards all living beings, devouring them without a second thought. She
                        only
                        comes
                        out on a full moon to hunt, fighting with incredible speed and strength.

                        In order to lift the curse on a striga, "someone must prevent the striga from
                        returning
                        to
                        her
                        coffin by the third crowing of the rooster. Then she would be cured, turning into an
                        ordinary
                        little girl".</p>


                    <p>Susceptibility: Sensitive to silver</p>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/app.js"></script>
    <!--Scroll Reveal Script-->
    <script>
        ScrollReveal().reveal('.headline', {
            delay: 400
        });
    </script>
</body>

</html>